body {
    background-color: #97A7B3;
    font-family: Fredoka;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #7E7F9A;
    padding-top: 10px;
    padding-bottom: 30px;
    border-radius: 10px;
}

h1 {
    font-weight: 700;
    color: white;
    margin-bottom: 0;
}

h2 { 
font-weight: 500;
}

.input {
    border: none;
        padding: 5px 10px;
        border-radius: 10px;
        box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.3);
}

.search {
    background-color: #F3DE8A;
    border: none;
    padding: 5px 10px;
    border-radius: 10px;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.3);
}

.load-more {
    background-color: #F3DE8A;;
    border: none;
        padding: 5px 10px;
        border-radius: 10px;
        box-shadow: 3px 3px 3px rgba(0,0,0,0.3);
}
